<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mi Tienda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    
</head>
<body>
    <h1>Tienda</h1>
    <button onclick="window.location.href = '/bicicletas.html'"></button>
    <button onclick="window.location.href = '/discos.html'"></button>
    <button onclick="window.location.href = '/libros.html'"></button>
    <!-- Scripts -->
    <!-- <script src="main.js"></script> -->
</body>
</html>