{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MI TIENDA</title>
    <link rel="stylesheet" href="{% static 'mi-css.css'%}">
    
</head>

<body>
    <p>BIENVENIDOtilo y js</p>
    <p>{{ x }}</p>
    <!-- <img src="/static/logo-urjc.png" alt="NOPE" id="logo"> -->
    <!-- <br> -->
    <!-- <button type="button" id="boton">Click me</button> -->
    <!--  -->
    <!-- <script src="{% static 'mi-js.js' %}"></script> -->
</body>

</html>