<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/tienda.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico" />

    <title>Tienda</title>
</head>

<body>
    <div class="container">
        <img class="home" id="home_icon" onclick="window.location.href='/'" src="assets/home.png"
            alt="home">
        <h1>Tienda</h1>
        <img class="cesta" id="cesta_icon" onclick="window.location.href='/shop-cart.html'" src="assets/cesta0.png"
            alt="cesta_vacia">

    </div>
    <!-- Login -->
    <div id="logspace">
        <form action="/setlogin" method="post">
            <input type="text" name="loguser" id="logbox"><br>
            <input type="submit" value="Registrarse"id="subbox" onclick = "log_cookie()">
        </form> 
    </div>
    

    <!-- Scripts -->
    <script src="assets/tienda.js"></script>
</body>

</html>