<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/tienda.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico" />

    <title>Tienda</title>
</head>

<body>
    <div class="container">
        <img class="home" id="home_icon" onclick="window.location.href='/'" src="assets/home.png"
            alt="home">
        <h1>Tienda</h1>
        <img class="cesta" id="cesta_icon" onclick="window.location.href='/shop-cart'" src="assets/cesta0.png"
            alt="cesta_vacia">

    </div>
    <% products.forEach(element => {%>
        <div id="visor" class = "prod">
            <img src="<%= element.image %>" alt="" class = "image">
            <span class = "name"><%= element.name %></span>
            <span class = "price"><%= element.price %>  €</span>
            <button class = "butt_add" onclick = "add_article('<%= element.name %>')">+</button>
        </div>
    <%}); %>

    <!-- Scripts -->
    <script src="assets/tienda.js"></script>
</body>

</html>