<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/library.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico" />

    <title>Library</title>
</head>

<body>
    <div class="container">
        <h1>Library</h1>
        <img class="cesta" id="cesta_icon" onclick="window.location.href='/shop-cart.html'" src="assets/cesta0.png"
            alt="cesta_vacia">

    </div>
    <div id="visor"></div>
    <!-- Scripts -->
    <script src="assets/library.js"></script>
</body>

</html>