<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/tienda.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico" />

    <title>Tienda</title>
</head>
<body onload="finder()">
    <div class="container">
        <% if (login) { %>
            <p id = "logname"> Usuario Registrado: <%=logname%></p>
            <button class="button" onclick="close_session()">Cerrar Sesión</button>
        <% } else { %>
            <button class="button" onclick="window.location.href = '/login'">Login</button>    
        <%} %>
        
        <h1>Tienda</h1>
        <img class="cesta" id="cesta_icon" 
            onclick="window.location.href='/shop-cart'" 
            src="assets/cesta0.png" alt="cesta_vacia">

        <form action="/search" method="POST">
            <input list="productos" name="search" id="box" type="text" class = "searchinput" placeholder = "Que deseas?">
            <input type="submit" name="submit" value="search" class = "button">
            <datalist id="productos"></datalist>
        </form>

        <div style="text-align:center">
            <button class="button" onclick="window.location.href = '/bicicletas'">Bicicletas</button>
            <button class="button" onclick="window.location.href = '/discos'">Discos</button>    
            <button class="button" onclick="window.location.href = '/libros'">Libros</button>
        </div>
        <button class="button" onclick="my()">kokoko</button>
    </div>    
    <div id="visor"></div>
    <!-- Scripts -->
    <script src="assets/tienda.js"></script>    
</body>
</html>